{
  "presets": ["es2015", "react"],
  "plugins": [
    ["css-in-js",
      {
        "context": "./src/styles/GlobalStyles.js",
        "bundleFile": "tmp/cssInJS.css"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-hot-loader/babel"]
      ]
    }
  }
}
